<ion-header>
  <ion-toolbar>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <ion-label>Você é</ion-label>
    <ion-select placeholder="Selecionar">
      <ion-select-option value="1">Doador</ion-select-option>
      <ion-select-option value="2">Adotante</ion-select-option>
    </ion-select>
  </ion-item> -->


  <ion-item>
    <ion-label position="floating">Nome completo</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" >Senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Endereço</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Tipo de residência</ion-label>
    <ion-select placeholder="Selecionar">
      <ion-select-option value="1">Casa</ion-select-option>
      <ion-select-option value="2">Apartamento</ion-select-option>
      <ion-select-option value="3">Chácara</ion-select-option>
    </ion-select>
  </ion-item>
  

  <ion-item>
    <ion-label>Situação do imóvel</ion-label>
    <ion-select placeholder="Selecionar">
      <ion-select-option value="1">Próprio</ion-select-option>
      <ion-select-option value="2">Alugado</ion-select-option>
    </ion-select>
  </ion-item>
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="full">Cadastrar</ion-button>
  </ion-toolbar>
</ion-footer>